<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/Base::Layout(~{::div})}" >
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>

    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
  <div class="banner">
    <h2>Contact - Manager Application</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam commodi fugiat id incidunt ipsa magnam nisi perferendis </p>
    <a class="btn btn-outline-success" role="button" th:href="@{/signup}">Get-Started </a>
  </div>

  </body>
</html>
